# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
*.log

# Environment
*.secret
.env
.env.local
.env.*.local

# IDE
.vscode/settings.json
.idea/

# Docker
*.qcow2

# Test coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
